<!-- <h1>Tasks#index</h1> -->
<!-- <p>Find me in app/views/tasks/index.html.erb</p> -->
<ul>
	<% for task in @tasks %>
		<li><%= task.task %></li>
	<% end %>
</ul>
<%= form_for Task.new do |f| %>
	<%= f.label :task %>
	<%= f.text_field :task %>
	<%= f.submit %>
<% end %>
